.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.003906;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.964844;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.941406;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{margin-left:-1.024257px;}
._0{width:1.115333px;}
._1{width:2.807221px;}
._9{width:34.308901px;}
._a{width:38.411607px;}
._3{width:47.221825px;}
._8{width:79.984103px;}
._6{width:88.310729px;}
._4{width:98.213086px;}
._7{width:132.508229px;}
._5{width:133.718044px;}
.fc1{color:rgb(19,84,4);}
.fc0{color:rgb(0,0,0);}
.fs8{font-size:23.954550px;}
.fsc{font-size:27.787260px;}
.fsb{font-size:30.182700px;}
.fs5{font-size:35.931900px;}
.fs7{font-size:37.848300px;}
.fs9{font-size:39.764400px;}
.fs0{font-size:44.076300px;}
.fs6{font-size:47.909100px;}
.fs3{font-size:51.741897px;}
.fsa{font-size:54.137397px;}
.fs1{font-size:63.719100px;}
.fs4{font-size:87.673503px;}
.fs2{font-size:159.537300px;}
.y0{bottom:0.000000px;}
.y2{bottom:39.000000px;}
.y27{bottom:92.759995px;}
.y26{bottom:103.679992px;}
.y25{bottom:115.080001px;}
.y24{bottom:126.480011px;}
.y23{bottom:137.759995px;}
.y22{bottom:152.519989px;}
.y21{bottom:167.519989px;}
.y20{bottom:179.039978px;}
.y1f{bottom:190.560013px;}
.y1e{bottom:210.960022px;}
.y1d{bottom:231.359985px;}
.y1c{bottom:242.640015px;}
.y1b{bottom:262.080001px;}
.y1a{bottom:284.759995px;}
.y19{bottom:305.400009px;}
.y18{bottom:317.880020px;}
.y16{bottom:328.800018px;}
.y17{bottom:332.279984px;}
.y14{bottom:339.720016px;}
.y15{bottom:343.199982px;}
.y13{bottom:350.519989px;}
.y12{bottom:360.839996px;}
.y11{bottom:371.640015px;}
.y10{bottom:384.240005px;}
.yf{bottom:398.279984px;}
.ye{bottom:423.839996px;}
.yd{bottom:470.160004px;}
.yc{bottom:482.879997px;}
.yb{bottom:495.120003px;}
.ya{bottom:510.360008px;}
.y9{bottom:536.879997px;}
.y8{bottom:552.120003px;}
.y7{bottom:572.519989px;}
.y6{bottom:587.040001px;}
.y5{bottom:609.720005px;}
.y4{bottom:668.520001px;}
.y3{bottom:695.399998px;}
.y1{bottom:745.560001px;}
.hb{height:17.509747px;}
.hf{height:20.311293px;}
.he{height:22.062257px;}
.h8{height:26.264675px;}
.ha{height:27.665481px;}
.hc{height:29.066068px;}
.h5{height:32.217881px;}
.h2{height:33.250920px;}
.h9{height:36.142363px;}
.h6{height:37.821103px;}
.hd{height:39.572111px;}
.h1{height:43.839562px;}
.h3{height:48.069341px;}
.h7{height:66.140411px;}
.h4{height:120.354067px;}
.h0{height:792.000000px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.x1{left:72.000000px;}
.x13{left:79.800002px;}
.x12{left:99.000000px;}
.x14{left:102.600002px;}
.xe{left:108.000000px;}
.x15{left:109.680004px;}
.xd{left:120.959999px;}
.xc{left:125.759995px;}
.x7{left:148.560002px;}
.xb{left:152.759995px;}
.x4{left:157.080002px;}
.xa{left:161.160004px;}
.x9{left:169.080002px;}
.x17{left:176.399998px;}
.x3{left:203.280007px;}
.x6{left:248.160004px;}
.x16{left:255.599991px;}
.x8{left:301.440010px;}
.x5{left:306.000000px;}
.xf{left:365.280007px;}
.x10{left:369.959999px;}
.x11{left:372.000000px;}
.x2{left:378.000000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._2{margin-left:-1.365677pt;}
._0{width:1.487111pt;}
._1{width:3.742961pt;}
._9{width:45.745202pt;}
._a{width:51.215476pt;}
._3{width:62.962433pt;}
._8{width:106.645470pt;}
._6{width:117.747638pt;}
._4{width:130.950781pt;}
._7{width:176.677639pt;}
._5{width:178.290725pt;}
.fs8{font-size:31.939400pt;}
.fsc{font-size:37.049680pt;}
.fsb{font-size:40.243600pt;}
.fs5{font-size:47.909200pt;}
.fs7{font-size:50.464400pt;}
.fs9{font-size:53.019200pt;}
.fs0{font-size:58.768400pt;}
.fs6{font-size:63.878800pt;}
.fs3{font-size:68.989196pt;}
.fsa{font-size:72.183196pt;}
.fs1{font-size:84.958800pt;}
.fs4{font-size:116.898004pt;}
.fs2{font-size:212.716400pt;}
.y0{bottom:0.000000pt;}
.y2{bottom:52.000000pt;}
.y27{bottom:123.679993pt;}
.y26{bottom:138.239990pt;}
.y25{bottom:153.440002pt;}
.y24{bottom:168.640015pt;}
.y23{bottom:183.679993pt;}
.y22{bottom:203.359985pt;}
.y21{bottom:223.359985pt;}
.y20{bottom:238.719971pt;}
.y1f{bottom:254.080017pt;}
.y1e{bottom:281.280029pt;}
.y1d{bottom:308.479980pt;}
.y1c{bottom:323.520020pt;}
.y1b{bottom:349.440002pt;}
.y1a{bottom:379.679993pt;}
.y19{bottom:407.200012pt;}
.y18{bottom:423.840027pt;}
.y16{bottom:438.400024pt;}
.y17{bottom:443.039978pt;}
.y14{bottom:452.960022pt;}
.y15{bottom:457.599976pt;}
.y13{bottom:467.359985pt;}
.y12{bottom:481.119995pt;}
.y11{bottom:495.520020pt;}
.y10{bottom:512.320007pt;}
.yf{bottom:531.039978pt;}
.ye{bottom:565.119995pt;}
.yd{bottom:626.880005pt;}
.yc{bottom:643.839996pt;}
.yb{bottom:660.160004pt;}
.ya{bottom:680.480011pt;}
.y9{bottom:715.839996pt;}
.y8{bottom:736.160004pt;}
.y7{bottom:763.359985pt;}
.y6{bottom:782.720001pt;}
.y5{bottom:812.960007pt;}
.y4{bottom:891.360001pt;}
.y3{bottom:927.199997pt;}
.y1{bottom:994.080002pt;}
.hb{height:23.346329pt;}
.hf{height:27.081724pt;}
.he{height:29.416342pt;}
.h8{height:35.019567pt;}
.ha{height:36.887308pt;}
.hc{height:38.754757pt;}
.h5{height:42.957175pt;}
.h2{height:44.334560pt;}
.h9{height:48.189817pt;}
.h6{height:50.428138pt;}
.hd{height:52.762815pt;}
.h1{height:58.452749pt;}
.h3{height:64.092454pt;}
.h7{height:88.187215pt;}
.h4{height:160.472089pt;}
.h0{height:1056.000000pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x1{left:96.000000pt;}
.x13{left:106.400002pt;}
.x12{left:132.000000pt;}
.x14{left:136.800003pt;}
.xe{left:144.000000pt;}
.x15{left:146.240005pt;}
.xd{left:161.279999pt;}
.xc{left:167.679993pt;}
.x7{left:198.080002pt;}
.xb{left:203.679993pt;}
.x4{left:209.440002pt;}
.xa{left:214.880005pt;}
.x9{left:225.440002pt;}
.x17{left:235.199997pt;}
.x3{left:271.040009pt;}
.x6{left:330.880005pt;}
.x16{left:340.799988pt;}
.x8{left:401.920013pt;}
.x5{left:408.000000pt;}
.xf{left:487.040009pt;}
.x10{left:493.279999pt;}
.x11{left:496.000000pt;}
.x2{left:504.000000pt;}
}

#pf1{
    margin-left: 1150px;
    margin-top: 130px;
}
